body {
  background-color:#ebebeb !important;
}
.wrap {
  padding: 40px 30px;
}

.wrap section {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: bold;
}

.sub-title {
  font-size: 22px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom:1px solid #ebebeb;
}

.list-wrap {
  padding-left:0;
}

.list-wrap li {
  list-style: none;
  display: flex;
  margin-top:20px;
}

.list-wrap li p {
  margin-bottom: 0;
}

.item-list .img {
  background: #ebebeb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 50px;
}
.item-list .img img {
  width: 100%;
}
.total-num {
  margin-top: 30px;
}
